<form id="loginForm" action="/application" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br>

    <input type="submit" value="Submit"><br>
    <input type="button" value="Cancel" onclick="remove()">
</form>

<script>
    function remove(){
        document.getElementsByTagName('input').forEach(x=> x.value = "");
    }
</script>