@{
    ViewData["Title"] = "HELP";
}

<p>INVALID OPERАTION - the hangman service expects a GET or POST parameter operand1 with a single alphabetical character as a value and will output if you guessed the char correctly (if an imagined string contains the guessed character and at which positions)</p>
